* {
    padding: 0;
    margin: 0;
}

body {
    background: #d5d7d8;
    height: 100vh;
    font-family: Righteous;
}

.title-area {
    display: flex;
    background: #004d40;
    max-width: 100%;
    margin: 0 auto;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid #305049;
}

.footer {    
    background: #004d40;
    padding: 15px 5%;
    font-weight: bold;
    line-height: 35px;
    border-top: 2px solid #305049;
    color: #fff;
    text-align: center;
    font-family: Righteous;
}

.title-area h2 { 
    flex: 1;   
    text-align: center;
    font-family: Righteous;
    color: rgb(243, 235, 235); 
    font-size: 30px;
    padding: 25px 0;
}

.banner-area {
    max-width: 1200px;
    margin: 0 auto;
    color: rgb(233, 229, 229);
    font-family: Righteous;
    font-size: 14px;       
}

.menu-area {
    display: flex;
    list-style: none;    
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
}

.menu-area li {
    background: #122041;
    flex: 1;
    text-align: center; 
}

.menu-area li:not(:first-child) {
    border-left: 2px solidrgb(233, 229, 229);
}

.menu-area li:hover {
    background:#192e5c;
}

.menu-area li a {
    display: block;
    padding: 15px 0;
    color: inherit;
    text-decoration: none;
    font-family: Righteous;
    text-transform: uppercase;
}

input[type=checkbox], .res-menu {
    display: none;
}

/*=============================
            Login
===============================*/

.signin_wrapper {
    margin-top: 96px;
    padding: 20px;
    min-height: 70VH;
    text-align: center;
}

.signin_wrapper form {
    width: 350px;
    margin: 0 auto;
}

.signin_wrapper form button {
    width: 100%;
    padding: 10px;
}

.signin_wrapper h2 {
    font-family: 'Righteous', cursive;
    color: #2674af;
    font-size: 50px;
}

.user_dashboard {
    font-size: 60px;
    font-family: 'Righteous', cursive;
    color: #2674af;
    text-align: center;
    margin-top: 200px;
}


input {
    background: #fafafa;
    border: 1px solid #e9e9e9;
    font-size: 17px;
    padding: 8px;
    border-radius: 3px;
    font-family: Roboto;
    font-weight: 300;
    width: 100%;
    box-sizing: border-box;
}

select {
    font-size: 16px;
    height: 38px;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    width: 100%;
}


button {
    background: #122041;
    color: #ffffff;
    border: 1px solid #0d1831;
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 15px;
    border-radius: 3px;
}

.error_label {
    color: #F44336;
    font-weight: 600;
    margin: 10px 0px;
}

.success_label {
    color: #98c5e9;
    font-weight: 600;
    margin: 10px 0px;
}

.label_inputs {
    font-size: 20px;
    margin: 10px 0px;
    font-weight: 300;
    background: #e5f4ff;
    padding: 10px;
    display: inline-block;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #cecece;
    text-align: center;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #cecece;
    text-align: center;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #cecece;
    text-align: center;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #cecece;
    text-align: center;
  }

